Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method

SELECT first_name, last_name, dept_name,current_salary
FROM (
    SELECT first_name, last_name,dept_name, current_salary, ROW_NUMBER() over( order by current_salary desc) as highest_salary
    FROM worker
	)
worker
WHERE highest_salary <= 5

Q-20. Write an SQL query to fetch the list of employees with the same salary.

select distinct W.firstname,W.salary
from worker W,worker W1
where W.salary=W1.salary and
W.firstname=W1.firstname;