1.Write an SQL query to print the first three characters of  FIRST_NAME from Worker table

SELECT SUBSTRING(FIRST_NAME,1,3) FROM WORKER

2.Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

SELECT POSITION('a' in first name) from worker where first name='Amitabh'

OR
SELECT locate('a',first name)from worker where first name ='Amitabh'

3.Write an SQL query to print the name of employees having the highest salary in each department.

SELECT department_id, first_name || ' ' || last_name AS Employee_name, salary 
	FROM employees a
		WHERE salary = 
			(SELECT MAX(salary) 
				FROM employees 
			WHERE department_id = a.department_id);