Write an SQL query to show the top n (say 10) records of a table.

select top 10 *
from worker;

 Write an SQL query to determine the nth (say n=5) highest salary from a table.

select * from(
select ename, sal, dense_rank() 
over(order by sal desc)r from Employee) 
where r=5;