1.Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

select *
from worker
where hire_date between '2014-02-01' and '2014-02-28'
order by hire_date;

2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

select first_name ,current_location, count(*) as cnt
from worker
group by first_name, current_location
having count(*)>1;

3. How to remove duplicate rows from Employees table.

with employeeCTE as 
(
    select *, ROW_NUMBER() over(partition by first_name order by first_name) as rownumber
    from workers
)

delete from employeeCTE where rownumber > 1
select * from workers