1. Write an SQL query to show only odd rows from aÂ table.

SELECT t.First, t.Last
FROM (
    SELECT *, Row_Number() OVER(ORDER BY First, Last) AS RowNumber 
            --Row_Number() starts with 1
    FROM Table1
) t
WHERE t.RowNumber % 2 = 1 --Odd

2.Write an SQL query to clone a new table from another table

select *
into employee1
from worker;

select *
from employee1;